@page
@model ZDrive.Pages.CarPages.UserCarsModel
@{
}
<div class="text-center">
    <h1>@Model.User.UserName's Cars</h1>
</div>
<a asp-page="/CarPages/CreateCar" asp-route-userID="@Model.User.UserId" class="btn btn-primary m-3">Add Car</a>
@foreach (var car in Model.Cars)
{
    <div class="shadow card m-3">
        <div class="card-body p-3">
            <h5 class="card-text">License Plate @car.Licenseplate</h5>
            <h5 class="card-text">Number of seats @car.NumberOfSeats</h5>
            <h5 class="card-text">Size @car.SizeOfCar</h5>
            <div class="d-flex justify-content-around mt-4 mb-2">
                <a class="btn btn-primary col-5">Update Car</a>
                <a class="btn btn-primary col-5">Delete</a>
            </div>
        </div>
    </div>
}

@* <table class="table">
    <thead>
    <tr>
    <th>Licenseplate</th>
    <th>Number of seats</th>
    <th>Size</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var car in Model.Cars)
    {
    <tr>
    <td>@car.Licenseplate</td>
    <td>@car.NumberOfSeats</td>
    <td>@car.SizeOfCar</td>
    </tr>
    }
    </tbody>
    </table> *@