@page
@model ZDrive.Pages.UserPages.AllUsersModel
@{
}
<h1>All Users</h1>

<form method="get">
    Filter by type :
    <select asp-for="@Model.Filter.UserType">
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Filter" />
    <br />
    <a href="/UserPages/AllUsers">Back to full list</a>
</form>

@foreach (var user in Model.Users)
{
    <div class="shadow card m-3">
        <div class="card-body p-3">
            <h5 class="card-text">User ID @user.UserId</h5>
            <h5 class="card-text">Type @user.UserType</h5>
            <h5 class="card-text">Name @user.UserName</h5>
            <div class="d-flex justify-content-around mt-4 mb-2">
                <a class="btn btn-primary col-5" asp-page="/UserPages/UserCars" asp-route-uid="@user.UserId">Cars</a>
                <a class="btn btn-primary col-5" asp-page="/RoutePages/UserRoutes" asp-route-uid="@user.UserId">Routes</a>
            </div>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserType</td>
                <td>@user.UserName</td>
                @if (user.UserType == "Driver")
                {
                    <td><a asp-page="/UserPages/UserCars" asp-route-uid="@user.UserId">Cars</a></td>
                    <td><a asp-page="/RoutePages/UserRoutes" asp-route-uid="@user.UserId">Routes</a></td>
                }
                <td><a asp-page="UpdateUser" asp-route-id="@user.UserId">Update</a></td>
                <td><a asp-page="DeleteUser" asp-route-id="@user.UserId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>