@page
@model ZDrive.Pages.UserPages.ReserveSeatModel
@{
}
<h1>List of Cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Available seats</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <!-- OwO -->
        @if (Model.Cars != null)
        {
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td> @item.UserId </td>
                    <td> @item.AvailableSeats / @item.NumberOfSeats</td>
                    <td>
                        @if (item.AvailableSeats >= 1)
                        {
                            <form method="post">
                                <input asp-for="@Model.Car.UserId" value="@item.UserId" />
                                <button type="submit" class="btn-primary">Reserve Seat</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
</table>