@page
@model ZDrive.Pages.UserPages.UserInfoModel
@{
}
<div class="float-left">
    <img height="300" width="300"
        src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" />
    <div class="card">
        <div class="card-body">
            <p class="card-text float-left text-dark d-inline">Username:</p>
            <p class="card-text float-right text-info d-inline">@Model.Users.FirstOrDefault().UserName</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-dark d-inline">E-mail:</p>
            <p class="card-text float-right text-info d-inline">@Model.Users.FirstOrDefault().UserEmail</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-dark d-inline">Type:</p>
            <p class="card-text float-right text-info d-inline">@Model.Users.FirstOrDefault().UserType</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-dark d-inline">Cars:</p>
            @if (Model.ZUser.Cars.Count() != 0)
            {
                @foreach (var c in Model.ZUser.Cars)
                {
                    <p class="card-text float-right text-info d-inline">@c.Licenseplate</p>
                }
            }
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-around mt-4 mb-2">
                <a class="btn btn-primary col-5" asp-page="UpdateUser" asp-route-id="@Model.ZUser.UserId">Update</a>
                <form method="post" asp-page-handler="Delete" class="col-5 p-0">
                    <input class="btn btn-primary" style="min-width: 100%;" type="submit" value="Delete"
                           onclick="return confirm('Are you sure?')">
                </form>
                <a class="btn btn-primary col-5" asp-page="/CarPages/UserCars" asp-route-uid="@Model.ZUser.UserId">Cars</a>
                <a class="btn btn-primary col-5" asp-page="/RoutePages/UserRoutes" asp-route-uid="@Model.ZUser.UserId">Routes</a>
            </div>  
            <form class="form-inline" method="post">
                <input type="hidden" readonly value="@Model.Users.FirstOrDefault()"
                       class="form-control" />
                <button type="submit" class="nav-link btn btn-secondary">Change My Type</button>
            </form>
            <br />
            <form class="form-inline" method="post" asp-page-handler="Delete">
                <input type="hidden" readonly value="@Model.Users.FirstOrDefault()"
                       class="form-control" />
                <button type="submit" class="nav-link btn btn-danger">Delete Account</button>
            </form>
        </div>
    </div>
</div>

<!--@if (Model.Users.FirstOrDefault().Routes.Count() != 0)
{
    @foreach (var r in Model.Users.FirstOrDefault().Routes)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text float-left text-dark d-inline">@r.RouteId</p>
                <h5 class="card-text">Endstop @r.Stops.First().StopAddress</h5>
                <h5 class="card-text">Estimated Arrival @r.Stops.First().StopTimestamp.ToString("mm:hh dd/MM-yy")</h5>
            </div>
        </div>
    }
}-->

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Currently booked seat on routes</h3>
        @if (Model.ReservedSeats.Count() != 0)
        {
            @foreach (var r in Model.ReservedSeats)
            {
                <p class="card-text float-left text-dark d-inline">Route</p>
                <p class="card-text float-right text-info d-inline">@r.RouteId</p>
            }
        }
    </div>
</div>