@page
@model ZDrive.Pages.RoutePages.AllRoutesModel
@{
}
<p style="color:red">@TempData["ErrorMessage"]</p>
<div class="text-center">
    <h1>All Routes</h1>
</div>
<button class="btn btn-primary m-3" onclick="$('#filterform').toggle()">Filter options</button>
<form id="filterform" style="display: none; width:10em;" class="m-3" method="get">
    <label>Filter by address</label>
    <input class="form-control" asp-for="@Model.Filter" type="text" />
    <input type="submit" class="btn btn-outline-primary" value="Filter" />
    <br />
    <a href="/RoutePages/AllRoutes">Back to full list</a>
</form>

@foreach (var route in Model.Routes)
{
    <div id="@route.RouteId-card" class="shadow card m-3">
        <div class="card-body p-3">
            <h5 class="card-text">Route ID @route.RouteId</h5>
            <h5>Driver @route.User.UserName</h5>
            <h5>Car Licenseplate @route.Car.Licenseplate</h5>
            @if (@route.Stops.Count() != 0)
            {
                <h5 class="card-text">Endstop @route.Stops.First().StopAddress</h5>
                <h5 class="card-text">Estimated Arrival @route.Stops.First().StopTimestamp.ToString("mm:hh dd/MM-yy")</h5>
            }

            <h5 class="card-text">Seats available @route.Car.AvailableSeats</h5>
            <div class="d-flex justify-content-around mt-4 mb-2">
                <a class="btn btn-primary col-5" asp-page="/RoutePages/UpdateRoute" asp-route-rid="@route.RouteId">
                    See stops
                </a>
                @if (!Model.User.IsInRole("Driver"))
                {
                    @if (route.Car.AvailableSeats <= 0)
                    {
                        <script>
                            document.getElementById('@route.RouteId-card').style.backgroundColor = "gray";
                        </script>
                        <input class="btn btn-primary-outline col-5" type="submit" value="Reserved" readonly />
                    }
                    else
                    {
                        <form method="post" class="col-5 p-0">
                            <input class="btn btn-primary w-100" type="submit" value="Reserve" asp-route-rid="@route.RouteId" />
                        </form>
                    }
                }
                else
                {
                    <a class="btn btn-primary col-5" asp-page="/RoutePages/UsersOnRoute" asp-route-rid="@route.RouteId">
                        See
                        Users
                    </a>

                }

            </div>
        </div>
    </div>
}
