@page
@model ZDrive.Pages.RoutePages.CreateRouteModel
@{
}

<!-- centers page title -->
<div class="text-center">
    <h1>New Route</h1>
</div>
@* <form method="post" class="col-4">
    <div class="form-group">
    <label asp-for="@Model.Route.UserId">User ID</label>
    <input asp-for="@Model.Route.UserId" class="form-control" readonly />
    </div>

    <br />
    </form> *@
<form method="post" class="shadow card m-3">
    <div class="card-body p-3">
        <label class="card-text col-5" asp-for="@Model.Route.UserId">User ID</label>
        <input asp-for="@Model.Route.UserId" class="form-control" readonly />
        <label class="card-text-col-5" asp-for="@Model.Route.CarID">Car</label>
        @if (Model.Cars.Count == 0)
        {
            <p class="form-control">No cars registered. <a asp-page="/UserPages/CreateCar">Add car?</a></p>
        }
        else
        {
            <select asp-for="@Model.Route.CarID" class="form-control">
                @foreach (var car in Model.Cars)
                {
                    <option value="@car.Licenseplate">@car.Licenseplate</option>
                }
            </select>
        }
        <div class="d-flex justify-content-around mt-4 mb-2">
            <input class="btn btn-primary col-5" type="submit" value="Create" />
            <a class="btn btn-primary col-5" asp-page="/Index">Go back</a>
        </div>
    </div>
</form>